# Data Engineering Graduate Training
## Intro to Python

## Arithmetics
    addition
    subtraction
    multiplication
    division
    exponents
    modules
    floor division

In [1]:
#addition
23 + 34

57

In [2]:
#subtraction
45-20

25

In [3]:
#multiplication
2*4

8

In [4]:
#division
8/4

2.0

In [5]:
#exponent
2**3

8

In [6]:
#modulos
7%2

1

In [7]:
7/3

2.3333333333333335

In [8]:
7//3

2

In [9]:

#Foor division
8//2

4

## PEMDAS
Parenthese
Exponential
Multiplication
Divisin
Addition
Subtraction

In [10]:
2*4+5/3

9.666666666666666

In [11]:
2*(4+5)/3

6.0

## Conditional Operations
    equal
    greater than or equal
    less than or equal

In [12]:
23==2

False

In [13]:
22==22

True

In [14]:
12!=2

True

In [15]:
12>4

True

In [16]:
12<6

False

In [17]:
34>=23

True

## Logical Conditions
    and 
    or
    not
    True
    False

In [18]:
(2>1) and (23<89)

True

In [19]:
(23==22) & (23<89)

False

In [20]:
(23==22) or (23<89)

True

## Variables

In [21]:
name = 'Sam'
name

'Sam'

In [22]:
print(name)

Sam

In [23]:
age=32
age

32

In [24]:
print(name, "is", age, 'years old.')

Sam is 32 years old.

## Data Types
    int
    float
    strings
    boolian
    list
    tuples
    dictionary

In [25]:
244

244

In [26]:
age

32

In [27]:
type(244)

int

In [28]:
type(age)

int

In [29]:
type(name)

str

In [30]:
22.445

22.445

In [31]:
type(22.445)

float

In [32]:
type(True)
type(False)

bool

In [33]:
info='location'

In [34]:
info

'location'

In [35]:
type(info)

str

In [36]:
info[1]

'o'

In [37]:
info[6:]

'on'

In [38]:
info[-3]

'i'

In [39]:
info[:]

'location'

In [40]:
info[:3]

'loc'

In [41]:
info[1:4]

'oca'

In [42]:
# steps of 2
info[1:6:2]

'oai'

### Methods

In [43]:
info.isspace()

False

In [44]:
info.upper()

'LOCATION'

In [45]:
name='Samuel,Dassi'

In [46]:
name.replace(',', ' ')

'Samuel Dassi'

In [47]:
name.split(',')[0]

'Samuel'

### List

In [48]:
students = ['Edi', 'Theo', 'Wonder', 'Etiam', 3, 23.5]

In [49]:
type(students)

list

In [50]:
students[::2]

['Edi', 'Wonder', 3]

In [51]:
students.append('Sam')

In [52]:
students

['Edi', 'Theo', 'Wonder', 'Etiam', 3, 23.5, 'Sam']

In [53]:
students.insert(4,'Elorm')

In [54]:
students

['Edi', 'Theo', 'Wonder', 'Etiam', 'Elorm', 3, 23.5, 'Sam']

In [55]:
students.pop(-2)

23.5

In [56]:
students

['Edi', 'Theo', 'Wonder', 'Etiam', 'Elorm', 3, 'Sam']

In [57]:
?students.remove

In [58]:
students[2]="Wonders"

In [59]:
students

['Edi', 'Theo', 'Wonders', 'Etiam', 'Elorm', 3, 'Sam']

In [60]:
students[0]="Edi"

In [61]:
students

['Edi', 'Theo', 'Wonders', 'Etiam', 'Elorm', 3, 'Sam']

### Tuples
cannot be changed.

In [62]:
class_names= ('Wonders', 'Theo', 'Wonders', 'Etiam', 'Elorm', 3, 'Sam')

In [63]:
class_names.index('Theo')

1

### Dictionary
key value pairs

In [64]:
class_dict = {'name': 'Sam',
             'age':32,
             'location':'Akpatoeme'
             }

In [65]:
class_dict

{'name': 'Sam', 'age': 32, 'location': 'Akpatoeme'}

In [66]:
class_dict.keys()

dict_keys(['name', 'age', 'location'])

In [67]:
class_dict.update({'school':'UCC'})

In [68]:
class_dict

{'name': 'Sam', 'age': 32, 'location': 'Akpatoeme', 'school': 'UCC'}

### Conditionals
    if
    else
    else if

In [69]:
new_names = ['Wonders', 'Theo', 'Wonders', 'Etiam', 'Elorm', 3, 'Sam']

In [70]:
input('What is your name? ')

What is your name? Sam

'Sam'

In [71]:
name = input('What is your name? ')

What is your name? Edinam

In [73]:
if 2>66:
    # what needs to be done if true
    print("It's actually true')

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1300/4132680817.py, line 3)

In [78]:
name = input('What is your name? ')
if name in new_names:
    print("This trainee is in our class")
else:
    print("Unfortunately you are not one of our trainees")

What is your name? Sam
This trainee is in our class

In [79]:
name = input('What is your name? ')
if name in new_names:
    print("This trainee is in our class")
else:
    print("Unfortunately you are not one of our trainees")

What is your name? edi
Unfortunately you are not one of our trainees

In [81]:
day = input('Please which day were you born ')
if day == "Moday":
    print("You are called Kwadzo.")
elif day == "Tuesday":
    print("You are called Kwabla.")
elif day == "Saturday":
    print("You are called Kwame.")
else:
     print("I don't know your names please.")

Please which day were you born Saturday
You are called Kwame.

### Loops
    for
    while: works until condition is false

In [82]:
for i in range(5):
    print(i)

0
1
2
3
4

In [87]:
for name in new_names:
    print(name, "is a trainee")

Wonders is a trainee
Theo is a trainee
Wonders is a trainee
Etiam is a trainee
Elorm is a trainee
3 is a trainee
Sam is a trainee

In [89]:
n = 1
while n<6:
    print("Working on", n)
    n=n+1

Working on 1
Working on 2
Working on 3
Working on 4
Working on 5

In [93]:
password = "edisam"
n=1
while n<4:
    passs = input("Please input your password ")
    if passs == password:
        print("Hurray you are in")
        break
    else:
        print("Hey check your password. Input a correct password")
    n=n+1

Please input your password edi
Hey check your password. Input a correct password
Please input your password sde
Hey check your password. Input a correct password
Please input your password ww
Hey check your password. Input a correct password

## Functions
    reusable codes

In [103]:
def area_of_circle(r):
    '''This function takes a given radius and returns the Area of a circle with that radius
    '''
    pi=22/7
    Area = pi*r**2
    return Area

In [104]:
area_of_circle(5)

78.57142857142857

In [105]:
?area_of_circle

In [106]:
area_of_circle(3)

28.285714285714285

In [107]:
def area_triangle(base, height):
    area = 0.5*base*height
    return area

In [108]:
area_triangle(2,4)

4.0

In [110]:
def area_of_circle(r=3):
    '''This function takes a given radius and returns the Area of a circle with that radius. Default radius is 3
    '''
    pi=22/7
    Area = pi*r**2
    return Area

In [112]:
area_of_circle()

28.285714285714285

## Pandas

In [113]:
import pandas as pd

In [120]:
df = pd.read_csv("https://raw.githubusercontent.com/Theophilusakugre/Tertiary-GTL/master/fires.csv", index_col=0)

In [121]:
df.head()

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ano       6454 non-null   int64
 1   mes       6454 non-null   object
 2   estado    6454 non-null   object
 3   numero    6322 non-null   object
 4   encontro  6454 non-null   object
dtypes: int64(1), object(4)
memory usage: 302.5+ KB

In [125]:
df.head(5)

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

In [126]:
df.describe()

               ano
count  6454.000000
mean   2007.461729
std       5.746654
min    1998.000000
25%    2002.000000
50%    2007.000000
75%    2012.000000
max    2017.000000

In [127]:
df.shape

(6454, 5)

In [128]:
df.select_dtypes("object")

           mes     estado   numero  encontro
0      Janeiro       Acre  0 Fires  1/1/1998
1      Janeiro       Acre  0 Fires  1/1/1999
2      Janeiro       Acre  0 Fires  1/1/2000
3      Janeiro       Acre  0 Fires  1/1/2001
4      Janeiro       Acre  0 Fires  1/1/2002
...        ...        ...      ...       ...
6449  Dezembro  Tocantins      128  1/1/2012
6450  Dezembro  Tocantins       85  1/1/2013
6451  Dezembro  Tocantins      223  1/1/2014
6452  Dezembro  Tocantins      373  1/1/2015
6453  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 4 columns]

In [129]:
df.select_dtypes("number")

       ano
0     1998
1     1999
2     2000
3     2001
4     2002
...    ...
6449  2012
6450  2013
6451  2014
6452  2015
6453  2016

[6454 rows x 1 columns]