### Pandas lessons by Dr Canter

In [1]:
import numpy as np
import pandas as pd

In [ ]:
dat = np.array([[1, 2, 3, 4, 5, 6,],[7, 8, 9, 10, 11, 12],[13, 14, 15, 16, 17, 18]])
print(dat)

In [ ]:
datf=pd.DataFrame(dat, index=['row1', 'row2', 'row3'],
                columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])

In [ ]:
print(datf)

In [ ]:
dat = np.array([[1, 2, 3, 4, 5, 6,],[7, 8, 9, 10, 11, 12],[13, 14, 15, 16, 17, 18]])

In [ ]:
datf=pd.DataFrame(dat, index=['row1', 'row2', 'row3'],
                columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])

In [ ]:
region = ['Western', 'Central', 'Greater Accra', 'Volta', 'Ahafo']
pop = [2057225, 2859821, 5446237, 1649523, 747227]

In [ ]:
dict_reg = {'Region':region, 'Population':pop}

In [ ]:
reg_pop = pd.DataFrame(dict_reg)
reg_pop

In [3]:
# reading an csv file 
scores = pd.read_csv(r"C:\Users\LENOVO\Documents\data bank\StudentsPerformance.csv")

In [4]:
# getting the first n rows
scores.head()

,sex,ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# getting the last n rows
scores.tail()

In [ ]:
# sorting a particular column 
scores.sort_values('math score')

In [ ]:
scores.sort_values('math score', ascending=False)

In [ ]:
scores[['sex', 'reading score']]

In [ ]:
# summarising the data
scores.describe()

In [ ]:
# getting the average score in english ie both reading and writing
English = (scores['reading score'] + scores['writing score'])/2
English